<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="assets/css/app.scss">
    <link rel="stylesheet" href="assets/css/style.scss">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<header>
    <div class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
        <div class="container">
            <a href="{{ path('homepage') }}" class="navbar-brand">Fund My Project</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('project_index') }}">Les Projets</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="{{ path('category') }}" id="download">Catégories <span class="caret"></span></a>
                        <div class="dropdown-menu" aria-labelledby="download">
                            <a class="dropdown-item" href="{{ path('category') }}">Sport</a>
                            <a class="dropdown-item" href="{{ path('category') }}">Musique</a>
                            <a class="dropdown-item" href="{{ path('category') }}">Film</a>
                            <a class="dropdown-item" href="{{ path('category') }}">Jeux</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{path('user_index')}}">
                            <i class="fa fa-sign-in"></i>
                            Me connecter
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
<main class="page-content">
    {% block body %}
    {% endblock %}
</main>
<footer class="page-footer">
    <div class="container">
        <i class="fa fa-copyright"></i> Fund My Project 2020
    </div>
</footer>
{% block javascripts %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}
</html>
